<ion-content>
  <div class="half-circle">
  </div>
  <div class="rectangle">

  </div>
  <ion-grid>
    <ion-row>
      <div style="display: flex; justify-content: space-between; width: 100%; position: absolute;">
        <div>
          <button ion-button type="submit" class="submit-button" color="login-button" round large>
            kdadjdak
          </button>
        </div>

        <div>
          <button ion-button type="submit" class="submit-button" color="login-button" round large>
            kdadjdak
          </button>
        </div>

      </div>
    </ion-row>
  </ion-grid>
</ion-content>