.half-circle {
    background-color: white;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border: 71px solid #FFEE5C;
    border-bottom: 0;
    transform:rotate(-180deg);
    filter: blur(8px);
    -webkit-filter: blur(8px); 
    width: 100%;
    height: 197px;
    margin-top: 3px;
    } 

    .center-test { 
      width: 110px;
      height: 110px;
      text-align: center;
      background-color: #FFEEA5;
      border-radius: 50%;
      margin-left: 97px;
      position: absolute;
      left: 0px;
      margin-left: 134px;
      top: 101px;
    }
.center-test span 
{ 
    height: 100px; 
    display: inline-block; 
    zoom: 1; 
    *display: inline; 
    vertical-align: middle;
 }
.center-test h3 { 
    display: inline-block; 
    zoom: 1; 
    *display: inline; 
    vertical-align: middle; 
    color: #000;  
} 

.row-section{
    margin-bottom: 33px !important;
  } 
  
  .grid-section{
    padding-top: 0px !important;
    width: 100%;
    margin: 93px 60px !important;
  }

  .rectangle {
    height: 63px;
    width: 250px;
    background-color:#FFEEA5;
    display:blcok;
  }
  .img-class{
    border-radius: 50%;
    float: left;
    width: 85px;
    height: 89px;
    margin-left: -29px;
    margin-top: -12px;
  }
  .element{
    shape-outside: circle(50%);
    width: 300px;
    height: 300px;
    float: left;
  }

  .footer {
    .footer-nav {
      background-color:#FFC100;
      padding-top: 10px;
      // border-top-left-radius: 44px;
      // border-top-right-radius: 44px;
      width: 108%;
      position: relative;
      left: -6px;
      display: flex;
      justify-content: center;
      img {
        max-height: 100%;
        display:block;

      }
    //   .vertical-separator {
    //     width: 1px;
    //     height: 37px;
    //     background: #707070;
    //     margin: 0 20px;
    //   }
    }
  }

  .chatbar{
    width:100%;
    padding: 0 10px!important;
    background-color:  white;
    border-top: solid 1px #6ED1E0;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    border: 2px solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} 

.chatbarInput{
    padding:0 10px !important;
    border:0;
    width: 100%;
    height: 40px;
    background-color:  white;
}

