<ion-content>
  <div class="half-circle">
    <!-- here will be the logo and a title-->
    <!-- here will be the buttons of the back button navigation and menu button-->
  </div>
  <div style="position: absolute;top:0; width: 100%;display: flex; justify-content: space-between;">
    <div (click)="gotomessages()">
      <img style="margin-top: 6px;
                    margin-left: 12px;" src="assets/icon/bell-11.png">
    </div>
    <div>
      <img style="margin-right: 5px;
                    margin-top: 49px;" src="assets/icon/law-3.png">
    </div>
    <div (click)="gotomenu()">
      <img style="margin-top: 8px;margin-right: 20px;" src="assets/icon/more-13.png">
    </div>
  </div>
  <ion-grid class="grid-section">
    <ion-row class="row-section">
      <div class="messages-sections" (click)="gotomessagedetails()">
        <h3>
          رسائل
        </h3>
      </div>
    </ion-row>
    <ion-row class="row-section">
      <div class="messages-sections" (click)="gotofilesdetails()">
        <h3>
          ملفاتك
        </h3>
      </div>
    </ion-row>
  </ion-grid>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->


</ion-content>

<ion-footer text-center class="footer">
  <div class="footer-nav" style="padding:10px; display: flex; justify-content: space-around;">
    <ion-button fill="clear" (click)="openProfile()">
      <img src="assets/icon/account-circle.png" alt="ticket">
    </ion-button>
    <div class="vertical-separator"></div>
    <ion-button fill="clear" (click)="openHome()">
      <img src="assets/icon/home-icon-silhouette.png" alt="ticket">
    </ion-button>
    <div class="vertical-separator"></div>
    <ion-button fill="clear" (click)="openTickets()">
      <img src="assets/icon/Group%20280.png" alt="ticket">
    </ion-button>
  </div>
</ion-footer>
<!-- 
   <div class="">
        <div style="display:flex;justify-content:center;align-items:center;height:90%;color:white;text-align:center;  border-bottom-left-radius: 40px; border-bottom-right-radius: 40px;box-shadow: 0px 3px 10px rgb(82, 172, 185);">
          <div>
            <img src="assets/imgs/icon-1.png" height="100px" style="border-radius: 50%; width:100px;"> 
            <h3 style="font-weight: 300;font-size: 22px;"> Hooooooy  </h3>
          </div>
        </div>
      </div>
 -->